<div class="experience-pins">
	<div class="row">
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('dev.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Dev Bootcamp </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('sony.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Sony Music Entertainment </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('meyer.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Meyer Computer </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('maui.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Maui Ocean Center </h4>
		</div>
	</div>
</div>