
<div class="projects-pins">
<div class="container">
	<div class="row">
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('raft.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Raft </h4>
		</div>
		<div class="item well hoverable">
			<div class="card responsive" style="width: 23rem;">
				<%= image_tag('mark.png', :class=> 'card-img-top responsive-image')%>
			</div>
			<h4> Markdown Widget </h4>
		</div>
	</div>
</div>

