
<div class="projects-pins">
	<div class="container">
		<div class="row">
			<div class="item well hoverable">
				<div class="card responsive" style="width: 23rem;">
					<div class="card-image waves-effect waves-block waves-light">
						<%= image_tag('raft.png', :class=> 'card-img-top responsive-image activator')%>
					</div>
				</div>
				<h4> <a href="http://www.github.com/avrilanne/raft"> Raft </a> </h4>
			</div>

			<div class="item well hoverable">
				<div class="card responsive" style="width: 23rem;">
					<%= image_tag('mark.png', :class=> 'card-img-top responsive-image')%>
				</div>

				<h4> <a href="http://www.github.com/avrilanne/markitdown"> Markdown Widget </h4>
			</div>

			<div class="item well hoverable">
				<div class="card responsive" style="width: 23rem;">
					<%= image_tag('avpins.png', :class=> 'card-img-top responsive-image')%>
				</div>

				<h4> <a href="https://github.com/avrilanne/pin-apprentice"> Pin Apprentice </h4>
			</div>

		</div>
	</div>
